
{% load staticfiles %}
    <!-- RESULTADOS DA PESQUISA  ver main.js
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">


<div class="col-xs-12 col-sm-offset-3 col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading c-list">
            <span id="title-resultados" class="title">Resultados</span>
            <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
            

            <ul class="list-group" id="contact-list">
                <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                     <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle" width="50" height="50"/>
                    </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">João da Silva</span><br/>
                        </div>
                            <div class="clearfix"></div>
                </li>


                <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                      <img src="http://api.randomuser.me/portraits/men/97.jpg" alt="Seth Frazier" class="img-responsive img-circle" width="50" height="50"/>
                    </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">José da Silva</span><br/>
                        </div>
                            <div class="clearfix"></div>
                </li>


                <li class="list-group-item">
                    <div class="col-xs-12 col-sm-3">
                     <img src="http://api.randomuser.me/portraits/women/90.jpg" alt="Jean Myers" class="img-responsive img-circle" width="50" height="50"/>
                    </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">Maria da Silva</span><br/>
                        </div>
                            <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    </div>
</div> -->
